@model IEnumerable<FestivalSSA.Models.LineUp>

@{
    ViewBag.Title = "Line Up";
}
<form class="filterform">
    @using (Html.BeginForm("Index","Home",FormMethod.Get)){
        <p class="filter">@Html.DropDownList("StageID", "Geen filter (stages)")</p>
        <p class="filter">@Html.DropDownList("DateID", "Geen filter (dagen)")</p>
        <input class="button" type="submit" value="Filter" />
    }
</form>

@if(Model!=null)
{
<table>
    <tr>
        <th>
            @Html.Label("Dag")
        </th>
        <th>
            @Html.Label("Start")
        </th>
        <th>
            @Html.Label("Einde")
        </th>
        <th>
            @Html.Label("Artiest")
        </th>
        <th>
            @Html.Label("Stage")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Festivaldag.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Band.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage.Name)
        </td>
        <td class="detail">
            @Html.ActionLink("Details", "Details", new { id=item.BandID })
        </td>
    </tr>
}
    <tr>
        <td>
            <a href="/api/rssfeed">
                <img src="@Url.Content("~/Content/Images/RSS.png")" style="width:20px;height:20px" />
            </a>
        </td>
    </tr>
</table>
}