@model IEnumerable<FestivalSSA.Models.Tickettype>

@{
    ViewBag.Title = "Tickettypes";
}

<table>
    <tr>
        <th>
            @Html.Label("Type")
        </th>
        <th>
            @Html.Label("Prijs (€)")
        </th>
        <th>
            @Html.Label("Beschikbaar")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
    </tr>
}
</table>
<p class="back">
    @Html.ActionLink("Terug naar reservaties", "Reservaties")
</p>